* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 30px;
}

.siteHeader {
  width: 100%;
  display: flex;
}

.siteHeader img {
  width: 250px;
}

.headerItems {
  flex: 1 1 auto;
  padding: 0 20px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 0 30px;
}

.navbar > div {
  padding: 15px 10px;
  width: 180px;
  text-align: right;
  position: relative;
}

.navbar a, .navbar span {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
  cursor: pointer;
}

.navbar a:hover {
  background-color: #ffff00;
}

#cartList {
  margin-top: 10px;
  margin-bottom: -15px;
  font-size: 14px;
  text-align: right;
}

.selectedPage {
  font-weight: 600;
}

.headerItems hr {
  background-color: black;
  border: none;
  height: 3px;
}

.tagline {
  margin-top: 40px;
  font-size: 20px;
}

.menuList {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.menuItem {
  flex: 0 1 33%;
  padding: 40px 30px;
}

.menuItem img {
  width: 100%;
  border: 2px solid black;
}

.menuItem h3 {
  margin: 5px 0 10px;
}

.menuItemRow {
  display: flex;
  padding: 2px 0;
  align-items: center;
  font-size: 14px;
}

.menuItemRow span {
  flex: 0 0 40%;
}

.menuItem select {
  flex: 1 1 60%;
  border: 2px solid black;
  padding: 5px 5px;
  background-color: transparent;
}

select:hover {
  cursor: pointer;
}

.menuItem button {
  border: 2px solid black;
  padding: 5px 5px;
  background-color: transparent;
  transition: all 0.2s ease;
}

button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.packSizeOptions {
  flex: 0 1 60%;
  display: flex;
  gap: 10px;
}

.packSizeOptions button {
  flex: 1 1 auto;
  padding: 5px 2px;
}

.priceRow {
  padding: 10px 0;
  font-size: 16px;
}

.priceValue {
  font-weight: 600;
}

.addToCardButton {
  font-weight: 600;
  flex: 1 0 auto;
  font-size: 16px;
}

.addToCardButton:hover {
  background-color: #ffff00;
}

.menuItem .selected {
  background-color: #ddd;
}

#cartPopup {
  position: absolute;
  font-size: 12px;
  background-color: white;
  z-index: 1;
  top: 40px;
  right: -40px;
  text-align: left;
  border: 1px grey solid;
  padding: 5px;
  width: 150px;
}

.optionBar {
  display: flex;
  padding: 40px 50px 0;
  gap: 20px;
}

.optionBar input {
  width: 250px;
}

/* Cart List */

.cartDiv {
  margin: 20px 0 0;
  border-top: 6px solid #7b6666;
  border-bottom: 6px solid #7b6666;
  padding: 0 60px;
  width: 100%;
}

.cartInfo {
  display: flex;
  justify-content: space-between;
}

.cartItemList {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.cartItem {
  flex: 0 1 25%;
  padding: 10px 20px 20px;
  text-align: center;
  font-size: 14px;
}

.cartItem img {
  width: 100%;
  border: 2px solid black;
}

.cartItem p {
  margin: 5px 0;
}

.removeButton {
  border: none;
  background: transparent;
  text-decoration: underline;
}

.removeButton:hover {
  background: transparent;
}